# Ignore virtual environment
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Ignore environment config
.env

# macOS system files
.DS_Store

# Ignore SQLite or test data if needed
*.db
data/*.json

# VS Code settings (optional)
.vscode/
